.food__content__dish{
    position: relative;
    display: flex;
    align-items: flex-end;

    cursor: pointer;

    height: 210px;
    width: 350px;

    margin-bottom: 40px;
    margin-right: 40px;

    border-radius: 30px;
    background-color: rgba(255, 0, 0, 0.342);

    // img{
    //     border-radius: 30px;
    //     width: 100%;
    //     height: 100%;
    // }

  .food__remove__item{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 10px;
    img{
        width: 20px;
        margin-left: -8px;
    }

  }

    &-name{
        position: absolute;
        padding: 25px;
        color: rgb(255, 255, 255);
        font-size: 18px;
    }

}