.food__content{
    width: 900px;
    padding: 60px 80px 0 60px;

    &__dishes{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
}


.red{
  background-color: red;
}

.green{
  background-color: green;
}

.blue{
  background-color: blue;
}

.yellow{
  background-color: yellow;
}

.white{
  background-color: #fff;
}